.header {
    background-color: gray;
    border-left: 6px solid rgb(60, 60, 60);
    padding-top: 0.5em;
    height: 3vw;
    width: 7vw;
}

a:link, a:visited {
    font-size: 9vm;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    width: inherit;
    margin: 3em 0.25em;
    vertical-align: center;
}

a:hover, a:active {
    color:forestgreen;
    background-color: blue;
    border: 0.125em solid black;
}