/* style menu bar */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    border-left: 4px solid darkgreen;
    overflow:hidden;
    background-color:darkgray;
    margin:0;
    padding:0;
    position:sticky;
    display:flex;
}

#menu li {
    float: left;
}



#menu li a, #menu li img{
    width: 6em;
    text-decoration:none;
    color:white;
    font-size: 2em;
    padding:auto;
    text-align:center;
    display:inline-block;
}

#menu li a:hover {
    background-color:black;
}

#menu li a.active {
    background-color:red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#content-area {
    margin:auto;
    background-color:wheat;
}

table{
    width: 70%;
    border-collapse:collapse;
    display:inline;
}

tr:hover {
    background-color:burlywood;
}

tr:nth-child(even) {
    background-color:navajowhite;
}

th, td {
    padding:8px 16px;
}

th {
    background-color:greenyellow;
    color:white;
}