<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--public User getUserById(Integer id);-->
<!--public boolean insertUser(User user);-->
<!--public boolean deleteUserById(Integer id);-->
<!--public boolean deleteUserById(Integer id);-->

<!--private Integer id;-->
<!--private String name;-->
<!--private String comment;-->

<mapper namespace="com.tomcat.netChat.repository.dao.UserMapper">

    <update id="initializeUserTable">
        create table if not exists user
        (
            id        int auto_increment not null,
            user_name varchar(225),
            comment   varchar(225),
            primary key (id)
        );
    </update>

    <select id="getUserById" resultType="com.tomcat.netChat.javaBeans.User" resultMap="user">
        select id        as user_id,
               user_name as user_name,
               comment   as user_comment
        from user
        where #{id}
    </select>

    <insert id="insertUser" parameterType="com.tomcat.netChat.javaBeans.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (user_name, comment)
        values (#{name},
                #{comment});
    </insert>

    <delete id="deleteUserById">
        delete
        from user
        where id = #{id}
    </delete>

    <resultMap id="user" type="com.tomcat.netChat.javaBeans.User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="comment" column="user_comment"/>
    </resultMap>

    <resultMap id="simpleUser" type="com.tomcat.netChat.javaBeans.User">

    </resultMap>
</mapper>