a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

#chats {
    border: 1px solid black;
    marign: 0.5em;
    position: relative;
    height: auto;
}

#chats .chat {
    border: 1px solid #e0e0e0;
    margin: 0.3em;
    height: 3em;
    position: relative;
}

#chats .chat-id {
    font-size: 0.7em;
    position: absolute;
    top: 3px;
    left: 3px;
}

#chats .chat-message {
    font-size: 0.9em;
    position: absolute;
    top: 1.1em;
    left: 1em;
}

#chats .chat-sender {
    font-size: 1em;
    position: absolute;
    top: 3px;
    left: 4em;
}

#chats .chat-date {
    font-size: 0.8em;
    position: absolute;
    top: 1em;
    right: 1em;
}

#input-panel .text-area {
    border: 2px solid green;
    padding: 4px 8px;
    margin: 4px;
    box-sizing: border-box;
    width: 600px;
    background-color: transparent;
}

#input-panel .text-area:focus {
    outline: none;
}