a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
    text-decoration: black;
}

#img-header {
    height: 4em;
    margin-left: 2em;
}

.header-description {
    float: right;
    font: 1.6em monospace;
    padding-bottom: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid black;
}

.dropdown-content a {
    size: 1em;
    color: black;
    padding: 0.2em 1em;
    background-color: white;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #505050;
}

/*that is new below*/

body {
    margin: 0;
}

* {
    font-size: 1em;
    font-family: sans-serif;
}

.not-decoration {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a.button-hyperlink {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.3em 1em;
}

a.button-hyperlink:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

input.text {
    border: none;
    border-bottom: 2px solid rgb(234, 234, 234);
    transition: 500ms;
    background-color: rgba(234, 234, 234, 1);
    padding: 0.5em;
    width: 33%;
    border-radius: 2px;
}

input.text:focus {
    outline: none;
    border-bottom: 2px solid green;
}

input.button {
    border: none;
    transition: 500ms;
    background-color: rgba(234, 234, 234, 1);
    padding: 0.5em;
    border-radius: 2px;
    margin-top: 1em;
}

#content-area {
    position: relative;
    top: 3em;
    left: 16%;
    min-height: 95%;
    background-color: rgb(245, 245, 245);
    width: 70%;
}

#left-navigation-panel {
    background-color: rgb(2, 8, 8);
    height: 100%;
    transition: 500ms;
    position: fixed;
    top: 0;
    z-index: -1;
}

#left-navigation-panel * {
    color: white;
}

#left-navigation-panel a {
    padding: 0.8em 0 0.8em 3em;
}

#top-navigation-panel {
    background-color: rgb(32, 32, 32);
    position: fixed;
    top: 0;
    height: 3em;
    float: left;
    transition: 500ms;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.top-panel-component {
    margin: 0;
    padding: 0;
    background-color: rgba(64, 64, 64, 1);
    display: block;
    float: left;
}

.top-panel-component > a, .top-panel-component > span {
    font: 1.5em monospace;
    background-color: #303030;
    padding: 0.63em 1.5em;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.top-panel-component > *:hover {
    background-color: #505050;
}
