<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.tomcat.netChat.javaBeans.Employee" alias="employee"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="initial_context" value="java:/comp/env"/>
                <property name="data_source" value="jdbc/mybatis"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.tomcat.netChat.repository.dao.EmployeeMapper"/>
    </mappers>
</configuration>
