<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="com/tomcat/netChat/repository/resources/mybatis.properties">

    </properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.tomcat.netChat.javaBeans.Employee" alias="employee"/>
    </typeAliases>

    <environments default="release">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${name}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <environment id="release">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="initial_context" value="java:/comp/env"/>
                <property name="data_source" value="jdbc/mybatis"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.tomcat.netChat.repository.dao.EmployeeMapper"/>
        <mapper class="com.tomcat.netChat.repository.dao.ChatMapper"/>
        <mapper class="com.tomcat.netChat.repository.dao.GroupChatMapper"/>
        <mapper class="com.tomcat.netChat.repository.dao.UserMapper"/>
    </mappers>
</configuration>
