<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <th:block th:replace="~{layout :: link}"></th:block>
</head>
<body >

    <th:block th:replace="~{layout :: top-panel}"></th:block>
    <th:block th:replace="~{layout :: left-panel}"></th:block>
    <div th:fragment="content" class="content-area">
        <p th:text="${emp.lastName}"></p>
        <p th:text="${emp.gender} == 0 ? 'Famale' : 'Male'"></p>
        <p th:text="${emp.email}"></p>
        <p th:text="${emp.id}"></p>
    </div>
</body>
</html>