<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genaral Layout Templates</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css"/>
</head>
<body>

    <!--<div th:fragment="header" .class="header">-->
    <!--<img id="img-header" src="C:/Users/search/IntelliJIDEAProjects/NetChat/web/images/rca.png"/>-->
        <!--<p class="header-description">Redstone Craftsman Association</p>-->
    <!--</div>-->

    <div id="top-navigation-panel" style="left: 15%; width: 85%;" th:fragment="top-panel">
        <ul class="not-decoration">
            <li class="top-panel-component" onclick="leftPanelOperator()">
                <span>open</span>
            </li>
            <li class="top-panel-component"><a href="#home">Home</a></li>
            <li class="top-panel-component"><a href="#home">List</a></li>
            <li class="top-panel-component"><a href="#home">Application</a></li>
            <li class="dropdown top-panel-component" style="float: right;;">
                <a href="#home" class="dropdown-button">About Us</a>
                <div class="dropdown-content" style="padding: 0;">
                    <a href="#About-link">Team</a>
                    <a href="#About-link">Production</a>
                </div>
            </li>
        </ul>
    </div>

    <div id="left-navigation-panel" style="width:15%;" th:fragment="left-panel(user)">
        <div id="user-detail" style="background-color: rgb(4, 10, 8); position: relative; width: 100%; height: 8em;">
            <p class="user-detail-component" style="margin: 8px 0 0 8px; font-size: 1.5em;" th:text="${user.name}">user
                name</p>
            <p class="user-detail-component" style="margin: 4px 0 0 8px; color:rgba(255, 255, 255, 0.5);"
               th:text="${user.email}">user email</p>
            <p class="user-detail-component" style="margin: 8px 0 0 8px;" th:text="${user.comment}">user comment</p>
        </div>

        <a class="button-hyperlink">chats</a>
        <a class="button-hyperlink">user</a>
        <a class="button-hyperlink">function</a>
    </div>

    <div class="content-area" th:class="content-area">
    </div>

    <script th:fragment="layout-script">
        var leftPanelState = true;

        function leftPanelOperator() {
            var left_panel = document.getElementById('left-navigation-panel');
            var top_panel = document.getElementById('top-navigation-panel');
            if (leftPanelState) {
                left_panel.style = 'width: 0';
                top_panel.style = 'left: 0; width: 100%';
                leftPanelState = false;
            } else {
                left_panel.style = 'width: 15%';
                top_panel.style = 'left: 15%; width: 85%;';
                leftPanelState = true;
            }
        }

        function hintValue(element, value, state, replace) {
            if (element.value == value) {
                switch (state) {
                    case 'focus' : {
                        element.style = 'color: black;';
                        element.value = replace;
                        break;
                    }
                    case 'blur' : {
                        element.style = 'color: grey;';
                        element.value = replace;
                        break;
                    }
                }
            } else {
                element.style = 'color: black;';
            }
        }
    </script>
</body>
</html>