<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: link}"/>
    <link rel="stylesheet" type="text/css" href="css/chatList.css">
</head>
<body>

<th:block th:replace="~{layout :: top-panel}"/>

<div class="content-area">
    <div id="chatList">
        <div class="individual-chats" th:each="group : ${chatList}" th:if="chatList">
            <span class="chats-id" th:text="*{group.id}">
                1
            </span>
            <a class="chats-name" th:text="*{group.groupName}" th:href="@{/Chat(groupId=*{group.id})}">
                Basic Group Name
            </a>
            <span class="chats-detail" th:text="*{group.detail}">
                Basic Group Detail
            </span>
            <span class="chats-date" th:text="*{#dates.format(group.date, 'dd/MMM/yyyy HH:mm')}">
            1990/01/01
            </span>
            <a class="chats-creator" href="/user?user=1" th:text="*{group.creator.name}"
               th:href="@{/User(userId=${group.creator.id})}">
                User Id
            </a>
        </div>
    </div>

    <!-- /* se */ -->
    <div id="create-group">
        <p>Create new Group Chat</p>
        <form action="/netChat/ROOT" target="_self" method="post">
            Group Name:<br>
            <input type="text" name="groupName" value="Basic Group"/><br>
            Detail:<br>
            <input type="text" name="detail" value="Basic group detail"/><br>
            Creator id<br>
            <input type="submit" value="submit"/>
        </form>
    </div>
</div>
</body>
</html>