<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group List</title>
    <th:block th:replace="~{layout :: link}"/>
    <link href="css/chat.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/chatList.css">
</head>
<body>

<th:block th:replace="~{layout :: top-panel}"/>
<!--<th:block th:replace="~{layout :: left-panel(user=${user})}"/>-->

<div id="content-area">
    <div id="chatList">
        <div class="individual-chats" th:each="group : ${groupChatList}">
            <span class="chats-id" th:text="*{group.id}">
                1
            </span>
            <a class="chats-name" th:text="*{group.groupName}" th:href="@{/chat(groupId=*{group.id})}">
                Basic Group Name
            </a>
            <span class="chats-detail" th:text="*{group.detail}">
                Basic Group Detail
            </span>
            <span class="chats-date" th:text="*{#dates.format(group.date, 'dd/MMM/yyyy HH:mm')}">
            1990/01/01
            </span>
            <a class="chats-creator" th:text="*{group.creator.name}"
               th:href="@{/userPreview(email=${group.creator.email})}">
                User Id
            </a>
        </div>
    </div>

    <!-- /* se */ -->
    <div class="footer" style="position: fixed;">
        <a class="button large" th:href="@{/record}" href="/chat"
           style="padding: 1em; background-color: rgba(0, 0, 0, 0.3); display: block;">to be create the new group</a>
    </div>

    <script th:include="~{layout :: layout-script}"></script>
</div>
</body>
</html>