<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${isPreview}" th:text="${user.name}"></title>
    <title th:unless="${isPreview}">Create User Log</title>
    <th:block th:replace="~{layout :: link}"/>
</head>
<body>
<th:block th:replace="~{layout :: top-panel}"/>

<div class="content-area">
    <div class="user-description" th:if="${isPreview}">
        <span class="user-id" th:text="${user.id}">1</span>
        <span class="user-name" th:text="${user.name}">Basic Name</span>
        <span class="user-comment" th:text="${user.comment}">Basic Comment</span>
    </div>

    <div class="user-login" th:unless="${isPreview}">
        <form th:action="@{/User}" method="post" target="_self">
            <input type="text" name="userName">
            <input type="text" name="comment">
            <input type="submit" name="submit">
        </form>
    </div>
</div>
</body>
</html>